/* NOTES ****************************************************************************************************
 *  Best viewed at 1340px X auto (1015px) as of 11-30-18 
 *
 *
 *
 *
 * font-family: 'Cabin', sans-serif;
 * font-family: 'Raleway', sans-serif;
 * font-family: 'Catamaran', sans-serif;
 * font-family: 'Cantarell', sans-serif;
 * font-family: 'Gudea', sans-serif;
 * font-family: 'Biryani', sans-serif;
 *************************** END NOTES */



 /* GLOBAL ****************************************************************************************************/

 /*  Borders are to see what all my boxes are doing */
/* * {
    border: 1px solid blue !important; 
}

div {
    border: 1px solid red !important;
} */

/* Reference for box-sizing: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #fff;
    font-size: 16px;
    font-family: 'Catamaran', sans-serif;
    letter-spacing: 3px;
}

h1 {
    font-size: 3em;
    line-height: 1.33em;
    font-weight: 200;
}

h2 {
    font-size: 2em;
    line-height: 1.4em;
}

h3 {
    font-size: 1.3em;
    font-weight: 600;
}

p {
    font-size: 0.9em;
}

/* LOGO ****************************************************************************************************/

.logo img {
    padding: 1.1em 0 1.2em;
}

/* NAVIGATION ****************************************************************************************************/

/* .menu {
    position: absolute;
    float: right;
    padding-top: 1.5em;
    padding-right: 18em;
} */

.container {
    width: 1100px;
    margin: 0 auto;
}

.header {
    position: absolute;
    z-index: 100;
    display: flex;
    /* padding-top: 1.5em; */
    align-items: center;
    /* margin-left: 10em; */
    height: 135px;
    width: inherit;
    /* border: 1px solid;   For testing purposes ONLY */
}

.header__nav_ul {
    display: flex;
}

.menu {
    margin-left: auto;
}

.nav__item a {
    margin: 0 24px;
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    padding: 1.5em 0.3em 1.2em 0.3em;
}

.nav__item a:hover,
.nav__item a:active,
.nav__item a:visited {
    color: rgb(255, 255, 255);
}

/* <!-- set class home for example, active state --> */
.home a {
    color: #fff;
}

/* BUTTONS ****************************************************************************************************/

.btn {

}

/* HERO ****************************************************************************************************/

.hero {
    position: relative;
    padding: 14em 0;
    background-color: #FD6262;
    display: flex;
    z-index: 0;
    /* border-bottom-left-radius: 50% 20%; */
    /* border-bottom-right-radius: 50% 20%; */
}

.hero h1 {
    letter-spacing: 3px;
    font-size: 3.5em;
}

.hero h1, .hero p {
    color: #fff;
}

/* .hero-text {
    width: 37%;
    z-index: 20;
    padding-left: 9em;
} */

.left-col {
    width: 50%;
    padding-right: 1em;
    margin-left: 3.5em;
}

.hero-text p {
    margin-top: 2.33em;
    line-height: 2em;
    width: 94%;
}

.hero-img {
    z-index: 4;
    position: absolute;
    left: 57%;
    bottom: 11%;
}

.title__bottom {
    font-weight: bold;
}

.hero__ctas {
    margin-top: 3em;
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

.hero__left_cta { /* button */
    display: inline-block;
    padding: 1.8em 2em;
    text-align: center;
    border-radius: 40px;
    width: 36%;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700
}

p.hero__or_cta {
    width: auto;
    margin: 0 2.5em;
}

.hero__right_cta {
    color: #fff;
}

/* HERO > CIRCLES BACKGROUND ****************************************************************************************************/

.circles__background {
    z-index: -1;
}

.circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
}

.circle.one {
    background-color: #F8C620;
    z-index: 3;
    right: 24%;
    bottom: 43%;
}

.circle.two {
    background-color: #F77E37;
    width: 500px;
    height: 500px;
    z-index: 2;
    right: 15%;
    bottom: 27%;
}

.circle.three {
    background-color: #F35D5F;
    width: 850px;
    height: 850px;
    z-index: 1;
    right: 2%;
    bottom: 7%;
}

/* SECTION – ALL ****************************************************************************************************/

.sect {
    display: flex;
}

/* SECTION ONE ****************************************************************************************************/

.sect-one {
    padding: 8em 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.reasons-header h2 {
    line-height: 1.5em;
    padding-right: 10px;
}

.reasons-header, .reason {
    width: 25%;
    margin: 3em 0.05em;
}

.reason h3 {
    padding-block-start: 0.5em;
    padding-block-end: 1em;
}

/* SECTION TWO ****************************************************************************************************/

.sect-two {
    margin-right: 4.75em;
    margin-bottom: 8em;
}

.sect-two-img {
    width: 55%;
}

.sect-two-img img {
    width: 100%;
}

.sect-two-content.right-col {
    width: 50%;
    margin: 2.8em 0 0 5em;
}

.sect-two-content.right-col p {
    margin-top: 3em;
    line-height: 1.5em;
}

.sect-two-btns {
    display: flex;
    align-items: center;
    align-content: space-around;
    margin-top: 3em;
}

.sect-two-btns .btn-one {
    margin-right: 4em;
    padding: 1.8em 1.3em;
    border: 1px solid transparent;
    background-color: #F35D5F;
    color: #fff;
    text-decoration: none;
    border-radius: 40px;
    font-size: 0.7em;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    width: 12em;

}

.sect-two-btns .btn-two {
    padding: 1.8em 1.3em;
    border: 1px solid #F35D5F;
    color: #F35D5F;
    text-decoration: none;
    border-radius: 40px;
    font-size: 0.7em;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    width: 32em;
}

/* SECTION THREE ****************************************************************************************************/

.sect-three.container {
    flex-direction: column;
    margin-bottom: 8em;
}

.sect-three h2,
.sect-three blockquote {
    text-align: center;
}

.sect-three h2 {
    margin-bottom: 1em;
}

.sect-three blockquote {
    padding: 0 16em;
    margin-top: 0.5em;
    line-height: 1.5;
    font-style: italic;
}

/* SECTION FOUR ****************************************************************************************************/

.sect-four {
    margin-right: 4.75em;
    margin-bottom: 8em;
}

.sect-four-img {
    width: 55%;
}

.sect-four-img img {
    width: 100%;
}

.sect-four-content.right-col {
    width: 50%;
    margin: 2.8em 0 0 5em;
}

.sect-four-content.right-col p {
    margin-top: 3em;
    line-height: 1.5em;
}

.sect-four-btns {
    display: flex;
    align-items: center;
    align-content: space-around;
    margin-top: 3em;
}

.sect-four-btns .btn-one {
    padding: 1.8em 1.3em;
    background-color: #F35D5F;
    color: #fff;
    text-decoration: none;
    border-radius: 40px;
    font-size: 0.7em;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    width: 18em;
}

/* SECTION FIVE ****************************************************************************************************/

.sect-five.container {
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8em;
}

.sect-five .btn-one {
    padding: 1.8em 1.3em;
    background-color: #F35D5F;
    color: #fff;
    text-decoration: none;
    border-radius: 40px;
    font-size: 0.7em;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    width: 18em;
}

.sect-five .btn-two {
    padding: 1.8em 1.3em;
    border: 1px solid #F35D5F;
    color: #F35D5F;
    text-decoration: none;
    border-radius: 40px;
    font-size: 0.7em;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    width: 32em;
}

/* FOOTER ****************************************************************************************************/

.footer {
    background-color: #F35D5F;
}

.footer-contents.container {
    display: flex;
    align-items: center;
}

.footer-contents img {
    margin-right: 2em;
}

.footer__nav_ul {
    display: flex;
}

p.copyright {
    font-size: 0.52em;
    color: #fff;
}

.nav__item a {
    font-size: 0.75em;
}









/* <SECTION> ****************************************************************************************************/
/* NOTES ***************************
/* GLOBAL ****************************/
/* LOGO ***************************/
/* NAVIGATION ***************************/
/* HERO ***************************/
/* HERO > CIRCLES BACKGROUND ***************************/
/* SECTION – ALL ***************************/
/* SECTION ONE ***************************/
/* SECTION TWO ***************************/